#homeList li {
  font-size: large;
  padding: 5px;
}

#workList li {
  font-size: large;
  padding: 5px;
}

#socialList li {
  font-size: large;
  padding: 5px;
}

#socialList li {
  align-items: center;
}

#ul li input {
  padding: 10px;
  font-size: 16px;
}

.checkbox-inline {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card {
  border: orange solid 1px;
  margin: 5px;
  min-height: 300px;
  min-width: 200px;
  align-items: baseline;
}

.card div {
  border: rgb(233, 230, 224) solid 1px;
  margin: 0px;
}

.col-sm-4 button {
  width: 100px;
  padding: 2px;
  margin: 5px;
}

.col-sm-4 .flextime {
  align-items: center;
  justify-content: center;
}

.flexytime {
  height: auto;
  padding: 1px;
  border: 1px solid rgb(163, 157, 157);
  position: absolute;
  bottom: 1px;
  left: 10%;
}

.col-sm-4 {
  display: flex;
  padding: 2px;
  margin: 5px;
}
